.hero-bg-pic {
    background: url(https://images.unsplash.com/photo-1476067897447-d0c5df27b5df?ixlib=rb-4.0.3&ixid=mnwxmja3fdb8mhxwag90by1wywdlfhx8fgvufdb8fhx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center;    
    height: clamp(256px, 40vw, 512px);
}

* {
    font-family: "Quando", serif;
}

input::placeholder {
    color: rgb(136, 136, 136) !important;
}

.viewable {
    transition: all ease 0.5s;
}

.viewable:hover {
    cursor: zoom-in;
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 700px) {
    .hide-at-small {
        display: none !important;
    }   
}